/* Swiper button styles */
.swiper-button-next,
.swiper-button-prev {
    color: #F8F8F8;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
}

.swiper-button-next {
    right: 10px;
}

.swiper-button-prev {
    left: 10px;
}

.swiper-pagination-bullet {
    background-color: #F8F8F8;
}

.swiper-container {
    overflow: hidden;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}

.swiper-wrapper {
    transition: transform 0.3s ease;
}

@media (max-width: 768px) {
    .mobile-menu {
        display: block;
    }

    .desktop-menu {
        display: none;
    }
}

/* Hover en los botones */
.desktop-menu a:hover,
.desktop-menu button:hover {
    color: #3182ce; /* hover:text-blue-600 */
}

/* Estilos para los botones con íconos */
.desktop-menu button {
    display: flex;
    align-items: center;
}

/* Estilo para los íconos SVG */
.desktop-menu svg {
    width: 1rem;
    height: 1rem;
    margin-left: 0.25rem; /* ml-1 */
}

/* Icon box styles */
.icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
}

.icon-box img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.icon-box h4 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.icon-box p {
    font-size: 0.9em;
    color: #4A4A4A;
}

.section-header {
    font-size: 1.8em;
    font-weight: bold;
    color: #D32F2F;
    text-align: center;
    margin-bottom: 20px;
}

/* Logo styles */
.logo-img {
    max-height: 50px;
    width: auto;
    object-fit: contain;
}

@media (max-width: 768px) {
    .logo-img {
        max-height: 40px;
    }
}